body{
	border: 5px solid red;

}


h1{
	font-size: 8em;
    color: RED;
    font-family: fantasy;
    
}


h3{
	color: RED;
    font-family: fantasy;
	font-size: 1.8em;
}


button  {
	width: 140px;
    height: 40px;
    background-color: forestgreen;
    color: white;
    font-size: 1.4em;margin: 12px;
}
button  a{
	
    color: white;
	text-decoration: none;
    
}

table.main {
    width: 300px; 
    padding: 20px;
    
  }
  table.main td {
  vertical-align: top;
  font-family: verdana,arial, helvetica,  sans-serif;
  font-size: 11px;
  text-align: center;
  }
  table.main th {
      border-width: 1px 1px 1px 1px;
      padding: 0px 0px 0px 0px;
  
  }
  
  table.main a{TEXT-DECORATION: none;}
  table,td{ border: 1px solid #ffffff }
  table.main td:nth-of-type(7){
      color: red;
      background-color:whitesmoke;
  }
  .m{
      border-bottom: 2px solid red;
  }
  
